body {
    box-sizing: border-box;
    background-color: #9be7ff;
}

.atm-container {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.queue-container {
    display: flex;
    justify-content: center;
}

.queue {
    width: 100px;
    height: 70px;
    text-align: center;
    background-color: #2286c3;
    border: 2px solid #195317;
    border-radius: 10px;
    padding-top: 20px; 
    color: #9be7ff;
    font-size: 35px;
}

.atm {
    width: 100px;
    height: 80px;
    padding-top: 20px;
    border: 4px solid #2286c3;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    transition: background-color 500ms  ease-in-out;
}

.busy-atm {
    background-color: #d50000;
    color: #00c853;
}

.free-atm {
    background-color: #00c853;
    color: #d50000;
}

.control-container {
    padding-top: 20px; 
    display: flex;
    justify-content: space-around;
}


.buttons {
    background-color: #64b5f6;
    border: 2px solid #195317;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.buttons:hover {
    background-color: #2286c3;
}

.input-number {
    width: 100px;
    font-size: 30px;
}

.label-for-min-max-input {
    font-size: 25px;
}
.atm-cont {
    width: 108px;
    height: 108px;
    position: relative;
}
.atm-close-button {
    width: 22px;
    height: 22px;
    background-color: #64b5f6;
    border: 1px solid #2286c3;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 0;
}

.atm-close-button:hover {
    background-color: #2286c3;
}
